spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_gmail@gmail.com
    password: YOUR_APP_PASSWORD(No personal email password - generate from account(take help of chatGPT))
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


application:
  security:
    jwt:
      secret-key: "YOUR_256Bit_SECRET_KEY"
      expiration: 900000 #15 mins







# DATASOURCE - POSTGRESQL
  datasource:
    url: jdbc:postgresql://localhost:5432/cognitocart
    username: cognitocart
    password: cognitocart
    driver-class-name: org.postgresql.Driver

  #JPA HIBERNATE

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: false


logging:
  level:
    com:
      manifest:
        smartCart: DEBUG


springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true