spring:
  flyway:
    enabled: true
    # ADD THESE TWO LINES
    schemas: public
    default-schema: public
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    # This will show Flyway logs even if it's struggling
    fail-on-missing-locations: true

  datasource:
    # JDBC connection URL for PostgreSQL database
    url: ${DB_URL}
    # Database credentials
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    # PostgreSQL JDBC driver
    driver-class-name: org.postgresql.Driver


  # ================================
  # JPA / HIBERNATE CONFIGURATION
  # ================================
  jpa:
    hibernate:
      # Do NOT let Hibernate create or update tables.
      # Flyway handles all schema changes.
      ddl-auto: validate

    # Disable Open Session In View pattern (better performance + cleaner architecture)
    open-in-view: false

    # Hide SQL logs in console (make logs clean)
    show-sql: false

# ================================
# LOGGING LEVEL CONFIGURATION
# ================================
logging:
  level:
    com:
      manifest:
        smartCart: DEBUG   # Enable debug logs for development


# ================================
# SWAGGER / API DOCUMENTATION
# ================================
springdoc:
  api-docs:
    enabled: true         # OpenAPI JSON available at /v3/api-docs

  swagger-ui:
    enabled: true         # Swagger UI enabled at /swagger-ui.html
